*{margin: 0;padding: 0;}
:root{
    /*CORES DO SISTEMA*/
    --cor1:#8a7c66; 
    --cor2:#a79b83;
    --cor3:#bbb2a1;
    --cor4:#ffffff;
    --cor5:#010101;
    /*TIPOS DE FONTE
    --font1:;
    --font2:;
    --font3:;*/
}